
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}
header{
    height: 12.715vh;
    width: 100%;
    background-color:#FF69B4;
    display: flex;
    justify-content: space-around;

    nav{
        // border: solid green;
        width: 90%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        
    }
}
figure{
    width: 45%;
    display: flex;
    align-items: center;
    // border: solid yellow;
    justify-content:flex-start;
    padding-left: 120px;
}
figcaption{
    font-weight: 400;
    color:#E4EEF1;
    font-size: 28px;
}
ul{
    // border: solid blue;
    width: 45%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
    color: #E4EEF1;

}
.sobre{
    // border: solid red;
    height: 40.62vh;
    width: 100%;
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        // border: solid blue;
        width: 33vw;
        margin-left: 50px;
        p{
            font-weight: 400;
            font-size: 25px;
        }
    }

    img{
        height: 95%;
        margin-right: 50px;
    }
}
.conscientização{
    // border: solid goldenrod;
    height: 28.232vh;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div{
        // border: solid blue;
        width: 38vw;
        p{
            font-weight: 400;
            font-size: 25px;
            line-height: 34.05px;
            color: #E4EEF1;
        }
    }

    img{
        height: 95%;
    }
}

.dicas{
    // border: solid firebrick;
    height: 45.9vh;
    background-color: #FFD9EC;
    display: flex;
    justify-content: center;
    align-items: center;
    
    div{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }
}
footer{
    // border: solid red;
    background-color: #FF69B4;
    height: 15.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    // border: solid blue;
    height: auto;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}

.dados{
    // border: solid red;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.boximg{
//   border: solid black;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}